.test {
	color: pink;
}

.bio {
	font-size: 30px;
	text-align: center;
	background-color: #333333;
}

.name {
	float: left;
    width: 30%;
    font-size: 25px;
    text-align: center;
}

.myinfo {
	text-align: left;
}

