.test {
	color: pink;
}

.bio {
	font-size: 30px;
	text-align: center;
	background-color: #333333;
}

.name {
	float: left;
    width: 33%;
    font-size: 18px;
    text-align: center;
}

.myinfo {
    float: left;
    text-align: center;
}

.contact {
    float: right;
    width: 33%;
}